name: Validation

on: 
  pull_request: 
    types: [opened, synchronize, reopened]
    branches: [ main ]
    paths:
      - '**'

  workflow_dispatch: 

permissions:
  id-token: write
  contents: read
  
jobs:
  RunTests:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Execute unit tests
        run: |
          go test ./... -v 

  TerraformValidation:
    name: Terraform Plan (infra)
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ vars.AWS_REGION }}
      AWS_ROLE_ARN: ${{ vars.AWS_ROLE_ARN }}
      GIT_SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      TERRAFORM_VERSION: "1.6.6"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Setup SSH agent for git
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ env.GIT_SSH_KEY }}

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          role-to-assume:  ${{ env.AWS_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: infra
        run: |
          terraform init

      - name: Terraform Format Check
        working-directory: infra
        run: |
          terraform fmt -check

      - name: Terraform Validate
        working-directory: infra
        run: |
          terraform validate

      - name: Terraform Plan
        if: ${{ github.event_name == 'workflow_dispatch' }}
        working-directory: infra
        run: |
          terraform plan -input=false -var-file=values.tfvars -out=tfplan

      - name: Upload plan artifact
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: infra/tfplan

      - name: Done
        run: echo "Terraform job finished."